#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>

&trackball_peripheral {
    cpi = <1000>;
    x-invert;
    /delete-property/ y-invert;
};

// 왼쪽 트랙볼은 오른쪽 central로 raw 입력만 보냄.
// 실제 세로/가로 스크롤 변환은 crosses_right.overlay에서 레이어 상태를 보고 처리함.
&trackball_peripheral_split {
    input-processors = <
        &zip_ble_report_rate_limit
    >;
};
