#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/input_transform.h>

&trackball_peripheral {
    cpi = <1000>;
    x-invert;
    /delete-property/ y-invert;
};

/ {
    input_processors {
        zip_scroll_x_scaler: zip_scroll_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
    };
};

&trackball_peripheral_split {
    input-processors = <
        &zip_xy_to_scroll_mapper
        &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
        &zip_scroll_scaler 1 4
        &zip_scroll_x_scaler 0 1
        &zip_ble_report_rate_limit
    >;

    left_horizontal_scroll_override {
        layers = <4>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_scaler 0 1
            &zip_scroll_x_scaler 1 4
            &zip_ble_report_rate_limit
        >;
    };
};
